<html>
<head>
</head>
<link href="../styles/style.css" rel="stylesheet" type="text/css" />
<title>
PALO-ALTO
</title>
<body bgcolor="#f7f9fc">
<header class="header"> <img src="../images/Palo-Alto.png" alt="LOGO"> <div class="header__nav"><b> <a href="#"> home </a>	&nbsp	&nbsp <a href="#">about</a> 		&nbsp &nbsp <a href="#">archive</a> 	&nbsp	&nbsp <a href="#">contact </a>	&nbsp	&nbsp </b> 
<img src="../images/search.png"> </div>
</header> 
<br><br><br><br><br><br>

<main class="content"> 
<article class="article"> <div class="article__block2"> <div class="article__block__size"> <br>Contact Us </div><br>
Nam in maximus arcu, ac aliquam tellus. Donec vestibulum ipsum nunc, at placerat ante posuere non.
 Integer at dui a lacus suscipit elementum id non massa. Pellentesque habitant morbi tristique
 senectus et netus et malesuada fames ac turpis egestas. 
 Nunc eu neque eros. Ut eu quam justo.
<br> <br> <br>
_________________________________________________________________________________________

<br>
<br><br> <br>
<form id="form1" > 
<input type="text" id="user" class="form" placeholder=" 	&nbsp Your Name"> 	<input type="text" id="e-mail" class="form2" placeholder=" 	&nbsp Email"> <br>
<br>
<input type="text" id="theme"  class="form3" placeholder=" 	&nbsp Subject"> <br>
<br>
<br><br>
<input type="text" id="message"  class="form4" placeholder=" 	&nbsp Your Message"> <br>
</form>
<div>
<input type="submit"> 
<br>
send message</div> 
</div>
</article>
</main>
<footer>
</footer>
</body>
</html>