<html>
<head> <title>
PALO-ALTO
</title>
<meta name="keywords" content="7bits, Омск">
<meta name="description" content="7bits courses 2016-2017">

<link href="../styles/normalize.css" rel="stylesheet" type="text/css" />
<link href="../styles/style.css" rel="stylesheet" type="text/css" />
<link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
<link rel="shortcut icon" href="../images/Star.ico" sizes="32x32"/>
</head>
<body class="body">


<header class="header"> 

<a href="/"><img src="../images/Palo-Alto.png" alt="logo" class="header__logo"></a> 

  <nav class="nav"> <b>
                <ul class="nav-menu nav-menu_center">
                    <li class="nav-menu__item"><a href="index.html" class="link">Home</a></li>
                    <li class="nav-menu__item"><a href="#" class="link">About</a></li>
                    <li class="nav-menu__item"><a href="#" class="link">Archive</a></li>
                    <li class="nav-menu__item_inactive">Contact</li>
                    <li class="nav-menu__item"><a href="index.html"> <img src="../images/search.png"></a></li>
                </ul> </b>
            </nav>
</header> 

<main class="content"> 
<article class="article"> <div class="article__block2"> <div class="article__block__size"> <br><h1>Contact Us </h1></div>
Nam in maximus arcu, ac aliquam tellus. Donec vestibulum ipsum nunc, at placerat ante posuere non.
 Integer at dui a lacus suscipit elementum id non massa. Pellentesque habitant morbi tristique
 senectus et netus et malesuada fames ac turpis egestas. 
 Nunc eu neque eros. Ut eu quam justo.

_____________________________________________________________________________________________________________

<br><br>
<form id="form1" > 
<input type="text" id="user" class="form" placeholder=" 	&nbsp Your Name"> 	<input type="text" id="e-mail" class="form2" placeholder=" 	&nbsp Email"> <br>
<br>
<input type="text" id="theme"  class="form3" placeholder=" 	&nbsp Subject"> <br>
<br>
<br><br>
<input type="textarea" id="message"  class="form4" placeholder=" 	&nbsp Your Message"> <br>
</form>
<div>
<input type="submit" > 
<br>
send message</div> 
</div>
</article>
</main>
<footer class="footer-form">
 <a href="index.html" class="link_logofooter">
 <img class="footer__logo" src="../images/Palo-Alto.png" alt="Palo Alto"/></a>
<nav class="nav nav__footer">
<ol class="nav-menu nav-menu_footer">
<li class="nav-menu__item"><a href="/" class="link link_footer">Home</a></li>
<li class="nav-menu__item"><a href="#" class="link link_footer">About</a></li>
<li class="nav-menu__item"><a href="#" class="link link_footer">Archive</a></li>
<li class="nav-menu__item"><a href="form.html" class="link link_footer">Contact</a></li>
 <li class="nav-menu__item"><a href="index.html"> <img src="../images/search.png"></a></li>
</ol>
</nav>
<div class="footer__text">
Nunc placerat dolor at lectus hendrerit dignissim. Ut tortor sem,
 consectetur nec hendrerit ut, ullamcorper ac odio. Donec viverra ligula at quam tincidunt imperdiet. 
 Nulla mattis tincidunt auctor.</div>
<div class="footer__copyright">
© 2015 - Palo Alto. All Rights Reserved. Designed &amp; 
Developed by <a href="index.html" class="link link_footer">PixelBuddha Team</a></div>
<figure class="share">
<a href="facebook.com" class="link_img"><img alt="facebook" src="../images/facebook.png" /></a>
<a href="twitter.com" class="link_img"><img alt="twitter" src="../images/twitter.png" /></a>
 <a href="instagram.com" class="link_img"><img alt="instagram" src="../images/instagram.png" /></a>
<a href="pinterest.com" class="link_img"><img alt="pinterest" src="../images/pinterest.png" /></a>
            </figure>
</footer>
</body>
</html>